*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
}


.thumbnail-body{
    width: calc(100% - 5rem);
    bottom: 0px;
    right: 0px;
    background-color: rgb(238, 238, 238, 0.936);
    position: absolute;
    height: calc(100vh - 5rem);
    overflow: scroll;

}

.thumbnail{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.thumbnail img{
    margin-top: 4rem;
    width: 40%;
    border-radius: 8px;
    display: block;
}

.vide-title{
    font-weight: bold;
}