*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    font-family: 'Roboto', sans-serif;
}

.footer-main{
    display: none;
    height: 5rem;
    width: 100%;
    background-color: white;
    position: absolute;
    bottom: 0;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
}
.footer-main div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.footer-main div:hover{
    cursor: pointer;
    color: #1a73e8;
}

.nav-main{
    width: 100vw;
    background-color: white;
    height: 5rem;
    box-shadow: 2px 2px 4px rgb(228, 228, 228);
    position: absolute;
    padding: 0 1rem;
    display: grid;
    align-items: center;
    grid-template-columns: 3fr 5fr .5fr;
}
.sidebar-main{
    height: calc(100vh - 5rem);
    position: absolute;
    width: 5rem;
    background-color: white;
    box-shadow: 2px 2px 4px rgb(228, 228, 228);
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-top: 1rem; */
}
.sidebar-main div span{
    padding-top: 2rem;
    font-size: 2rem;text-shadow: 2px 2px 2px rgb(225, 225, 225);
}
.sidebar-main div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebar-main div h6{
    text-align: center;
}
.sidebar-main div:hover{
    color: #1a73e8 ;
    cursor: pointer;
    
}
.nav-icon{
    height: 3rem;
    width: auto;

}.nav-title{
    font-size: 25px;
    text-shadow: 2px 2px 2px rgb(220, 220, 220);
    padding-left: 1rem;
}
.icon-title{
    display: flex;
    align-items: center;
}
.nav-routes{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 2rem;
}.nav-routes div{
    padding-right: 2rem;
    font-weight: 550;
    text-shadow: 2px 2px 2px rgb(231, 231, 231);
    cursor: pointer;
}
.nav-routes div:hover{
    font-weight: 600;
   
}
.nav-routes2{
    display: none;
    align-items: center;
    justify-content: flex-end;

}
.nav-routes2 span{
    padding-right: 2rem ;
    cursor: pointer;
}
.nav-routes2 span:hover{
    color: #1a73e8;
}

@media screen and (max-width: 1024px) {
    .nav-main{
        grid-template-columns: 3fr 4fr .5fr;
    }
}
@media screen and (max-width:768px){
    .nav-routes{
        display: none;
    }
    .nav-routes2{
        display: flex;
    }
    .nav-title{
        font-size: 1rem;
        font-weight: 600;
    }
    .nav-icon{
        height: 2.5rem;
    }
}
@media screen and (max-width:463px){
    .nav-routes{
        display: none;
    }
    .nav-routes2 span{
        padding-right: 1rem;

    }
 

}

.material-symbols-outlined{
    font-size: 2rem;
    
}

.material-symbols-outlined:hover{
    text-shadow: 3px 3px 5px rgb(0 0 0 / 0.2);
    cursor: pointer;
}


.thumbnail-body{
    width: calc(100% - 5rem);
    bottom: 0px;
    right: 0px;
    background-color: rgba(243, 243, 243, 0.936);
    position: absolute;
    height: calc(100vh - 5rem);
    overflow: scroll;
    /* margin-bottom: 3.125rem; */
}

.thumbnail-body::-webkit-scrollbar{
    width: 0.3125rem ;
    background: white;
}
.thumbnail-body::-webkit-scrollbar-thumb{
    background-color: #1a73e8;
    border-radius: 0.3125rem;
}

.thumbnail{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    /* overflow: scroll; */
}

.left{
    width: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.likes{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .625rem;
    border-color: #334652;
    box-shadow: 0 1.5px 3px rgb(0 0 0 / 0.2);
}

.liked{
    width: 60%;
    background-color: #1a73e8;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    border-color: #334652;
    box-shadow: 0 .125rem .3125rem rgb(0 0 0 / 0.2);
}
.disliked{
    width: 60%;
    background-color: red;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: .625rem;
    border-radius: .3125rem;
    padding: .625rem;
    border-color: #334652;
    box-shadow: 0 .125rem .3125rem rgb(0 0 0 / 0.2);
}

#like{
    margin-right: 10px;
}

.right{
    margin-top: 3rem;
    width: 35%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    top: 0;
}

.description{
    width: 100%;
    /* to give shadow effect */
}

.thumbnail img{
    margin-top: 3rem;
    margin-bottom: 2rem;
    width: 100%;
    border-radius: 8px;
    display: block;
}

.input{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.video-title{
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 20px;
}

.video-info{
    font-size: 1.5rem;
}

.comments-section{
    width: 100%;
    margin: .625rem 0rem .625rem 0rem;
}

.search{
    width: 90%;
    height: 3.5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: .4rem;
    margin: .9375rem 0rem .9375rem 0rem;
    font-size: 20px;
    border-color: #334652;
    box-shadow: 0 .125rem .3125rem rgb(0 0 0 / 0.2);
    padding: 1.5rem;
}

.sort-label{
    font-size: 1.3rem;
}

.sort{
    width: 100%;
    margin: .625rem 0rem .625rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: .1125rem solid #738088;
    padding-bottom: 20px;
}

#select{
    width: 11.875rem;
    height: 1.875rem;
    padding: .3125rem;
    border-radius: .2rem;
    box-shadow: 0 .125rem .3125rem rgb(0 0 0 / 0.2);
    font-size: 1.1rem;
    margin-left: .625rem;
}

.comments-box{
    width: 100%;
    height: 60%;
    height: 40vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.comments-box::-webkit-scrollbar{
    width: 0.3125rem ;
    background: white;
}
.comments-box::-webkit-scrollbar-thumb{
    background-color: #1a73e8;
    border-radius: 0.3125rem;
}

.comments-section{
    width: 100%;
    border-color: #334652;
    box-shadow: 0 1.5px 3px rgb(0 0 0 / 0.2);
    border-radius: .3125rem;
    padding: .625rem .9375rem .625rem .9375rem;
    background-color: white;
}

.comments-outer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-color: #334652;
    box-shadow: 0 0 3px rgb(0 0 0 / 0.2);
    margin: 10px 0px 10px 0px;
}

.comments{
    width: 100%;
    margin: 1.5625rem .3125rem 1.5625rem .3125rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.comments img{
    width: 3.125rem;
    border-radius: 100%;
    margin: .5rem
}

.name{
    font-weight: bold;
    margin-right: .5rem;
}

.mail{
    display: inline-block;
    position: relative;
    top: .625rem;
}

#small-icons{
    font-size: 1.3rem;
    position: relative;
    top: 1.25rem;
    margin: .625rem;
}

@media screen and (max-width: 1024px) {
    .left{
        display: block;
        width: 70%;
    }
    .right{
        display: block;
        width: 60%;
    }
}

@media screen and (max-width: 800px) {
    .right{
        width: 80%;
    }
}

@media screen and (max-width: 592px) {
    .right{
        width: 85%;
    }
    .left{
        width: 80%;
    }
    .sidebar-main{
        display: none;
    }
    .body-main{
        width: 100vw;
        margin-left: 0;
    }
    .min-screen{
        display: none;
    }
    .views-vs-subscribe{
        flex-direction: column;
    }
    .bar-image{
        height: 90%;
        width: 90%;
    }
    .footer-main{
        display: flex;
    }
    .nav-title{
        font-size: .7rem;
    }
    .body-main{
        padding-bottom: 7rem;
    }

    .thumbnail-body{
        width: 100%;
    }

    .video-title{
        font-size: 1.1rem;
        margin-top: 20px;
    }
    
    .video-info{
        font-size: 1.1rem;
    }


    .comments-section{
        margin: .625rem 0rem .625rem 0rem;
    }
    
    .search{
        width: 90%;
        height: 3rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border-radius: .4rem;
        margin: .9375rem 0rem .9375rem 0rem;
        font-size: 1rem;
        border-color: #334652;
        box-shadow: 0 .125rem .3125rem rgb(0 0 0 / 0.2);
        padding: 1.5rem;
    }
    
    .sort-label{
        font-size: 1rem;
    }
    
    .sort{
        width: 100%;
        margin: .625rem 0rem .625rem 0rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: .1125rem solid #738088;
        padding-bottom: 1.25rem;
    }
    
    #select{
        width: 10rem;
        height: 1.875rem;
        font-size: 0.8rem;
    }
    
    .comments{
        width: 80%;
        margin: 1.5625rem .3125rem 1.5625rem .3125rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    
    .comments img{
        width: 3rem;
    }
    
    .name{
        font-weight: bold;
        margin-right: .5rem;
        
    }
    
    .text{
        font-size: 1rem;
    }

    #emoji{
        font-size: 1.4rem;
    }

    .thumbnail{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
        margin-bottom: 7.125rem;
    }

}